/****************************************图标 start by ljl***********************************************/
@font-face {
  font-family: 'icomoon';
  src: url('./font/iconfont/icomoon.eot?653u7');
  src: url('./font/iconfont/icomoon.eot?653u7#iefix') format('embedded-opentype'),
  url('./font/iconfont/icomoon.ttf?653u7') format('truetype'),
  url('./font/iconfont/icomoon.woff?653u7') format('woff'),
  url('./font/iconfont/icomoon.svg?653u7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-zyt"], [class*=" icon-zyt"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zyt-messages:before {
  content: "\e899";
}
.icon-zyt-store:before {
  content: "\e900";
}

.icon-zyt-yingyuan:before {
  content: "\e901";
}

.icon-zyt-home:before {
  content: "\e902";
}

.icon-zyt-shopping-cart:before {
  content: "\e903";
}

.icon-zyt-discount:before {
  content: "\e904";
}

.icon-zyt-obligation:before {
  content: "\e905";
}

.icon-zyt-evaluate:before {
  content: "\e906";
}

.icon-zyt-triangle-down:before {
  content: "\e907";
}

.icon-zyt-phone:before {
  content: "\e908";
}

.icon-zyt-store1:before {
  content: "\e90a";
}

.icon-zyt-store2:before {
  content: "\e90b";
}

.icon-zyt-location:before {
  content: "\e90c";
}

.icon-zyt-search:before {
  content: "\e90d";
}

.icon-zyt-menu:before {
  content: "\e90e";
}

.icon-zyt-draw:before {
  content: "\e90f";
}

.icon-zyt-shopping-cart2:before {
  content: "\e910";
}

.icon-zyt-cancel:before {
  content: "\e911";
}

.icon-zyt-close:before {
  content: "\e912";
}

.icon-zyt-arrows-left:before {
  content: "\e913";
}

.icon-zyt-menu2:before {
  content: "\e914";
}

.icon-zyt-no-image:before {
  content: "\e915";
}

.icon-zyt-alarm-clock:before {
  content: "\e916";
}

.icon-zyt-triangle-up:before {
  content: "\e917";
}

.icon-zyt-product:before {
  content: "\e918";
}

.icon-zyt-spread:before {
  content: "\e919";
}

.icon-zyt-spread-up:before {
  content: "\e91a";
}

.icon-zyt-collect:before {
  content: "\e91b";
}

.icon-zyt-favorite:before {
  content: "\e91c";
}

.icon-zyt-line:before {
  content: "\e91d";
}

.icon-zyt-search1:before {
  content: "\e91e";
}

.icon-zyt-not-spending:before {
  content: "\e91f";
}

.icon-zyt-myself:before {
  content: "\e920";
}

.icon-zyt-my-service:before {
  content: "\e921";
}

.icon-zyt-my-prize:before {
  content: "\e922";
}

.icon-zyt-my-ticket:before {
  content: "\e923";
}

.icon-zyt-my-appointment:before {
  content: "\e924";
}

.icon-zyt-download:before {
  content: "\e925";
}

.icon-zyt-arrows-down:before {
  content: "\e926";
}

.icon-zyt-star-white:before {
  content: "\e927";
}

.icon-zyt-star-yellow:before {
  content: "\e928";
}

.icon-zyt-chose:before {
  content: "\e929";
}

.icon-zyt-snatch:before {
  content: "\e92a";
}

.icon-zyt-already-received:before {
  content: "\e92b";
}

.icon-zyt-take-up:before {
  content: "\e92c";
}

.icon-zyt-completed:before {
  content: "\e92d";
}

.icon-zyt-favorable:before {
  content: "\e92e";
}

.icon-zyt-arrows-right:before {
  content: "\e92f";
}

.icon-zyt-spread-circle:before {
  content: "\e930";
}

.icon-zyt-praise:before {
  content: "\e931";
}

.icon-zyt-spread-down:before {
  content: "\e932";
}

.icon-zyt-new:before {
  content: "\e899";
  color: #ff3c3c;
}

.icon-zyt-arrow-right:before {
  content: "\e933";
  color: #ff3c3c;
}

.icon-zyt-diamond:before {
  content: "\e934";
}

.icon-zyt-home3:before {
  content: "\e935"
}

.icon-zyt-hexagon:before {
  content: "\e936";
  color: #0164a6;
}

.icon-zyt-transverse-line:before {
  content: "\e937";
}

.icon-zyt-promotion:before {
  content: "\e938";
  color: #ff3c3c;
}

.icon-zyt-angle-star:before {
  content: "\e939";
  color: #ef7820;
}

.icon-zyt-angle-star1:before {
  content: "\e940";
}

.icon-zyt-close:before {
  content: "\e941";
}

.icon-zyt-hidden:before {
  content: "\e942";
}

.icon-zyt-show:before {
  content: "\e943";
}

.icon-zyt-all-order:before {
  content: "\e944";
}

.icon-zyt-order-store:before {
  content: "\e945";
}

.icon-zyt-order-service:before {
  content: "\e946";
}

.icon-zyt-order-car:before {
  content: "\e947";
}

.icon-zyt-order-product:before {
  content: "\e948";
}

.icon-zyt-order-gift:before {
  content: "\e949";
}

.icon-zyt-order-coupon:before {
  content: "\e950";
}

.icon-zyt-new-coupon:before {
  content: "\e951";
}

.icon-zyt-has-receive:before {
  content: "\e953";
}

.icon-zyt-receive-done:before {
  content: "\e952";
}

.icon-zyt-star-score:before {
  content: "\e954";
}
.icon-zyt-screen:before {
  content: "\e955";
}
.icon-zyt-arrows-up:before {
  content: "\e956";
}

.icon-zyt-close-mark:before {
  content: "\e957";
}
.icon-zyt-no-coupon:before{
  content: "\e958";
}
.icon-zyt-phone2:before{
  content: "\e959";
}
.icon-zyt-deliver-goods:before{
  content: "\e960";
}
.icon-zyt-payment:before{
  content: "\e961";
}
.icon-zyt-all-door-order:before{
  content: "\e962";
}
.icon-zyt-delivery-goods:before{
  content: "\e963";
}
.icon-zyt-all-express-order:before{
  content: "\e964";
}
.icon-zyt-subscribe:before{
  content: "\e965";
}
.icon-zyt-shop-cart:before{
  content: "\e966";
}
.icon-zyt-my-money:before{
  content: "\e967";
}
.icon-zyt-product1:before{
  content: "\e968";
}
.icon-zyt-coupon:before{
  content: "\e969";
}
.icon-zyt-head-portrait:before{
  content: "\e970";
}
.icon-zyt-delete:before{
  content: "\e971";
}
.icon-zyt-circle:before{
  content: "\e972";
}
.icon-zyt-circle-hook:before{
  content: "\e973";
}
.icon-zyt-compile:before{
  content: "\e974";
}
.icon-zyt-weixin:before{
  content: "\e975";
  color: #3CB034;
}
.icon-zyt-zhifubao:before{
   content: "\e976";
   color: #00AAEF;
 }
.icon-zyt-select:before{
  content: "\e977";
}
.icon-zyt-share:before{
  content: "\e978";
}
.icon-zyt-classify:before{
  content: "\e979";
}
.icon-zyt-gps:before{
  content: "\e980";
}
.icon-zyt-news:before{
  content: "\e981";
}
.icon-zyt-service:before{
  content: "\e982";
}
.icon-zyt-minus:before{
  content: "\e983";
}
.icon-zyt-larger-menu:before{
  content: "\e984";
}
.icon-zyt-list-menu:before{
  content: "\e985";
}
.icon-zyt-wait-evaluate:before{
  content: "\e986";
  color:#6bb6e7;
}
.icon-zyt-wait-shipments:before{
  content: "\e987";
  color:#6bb6e7;
}
.icon-zyt-wait-payment:before{
  content: "\e988";
  color:#6bb6e7;
}
.icon-zyt-wait-payment1:before{
  content: "\e989";
  color:#6bb6e7;
}
.icon-zyt-wait-evaluate1:before{
  content: "\e990";
  color:#6bb6e7;
}
.icon-zyt-wait-Receiving:before{
  content: "\e991";
  color:#6bb6e7;
}
.icon-zyt-all-order1:before{
  content: "\e992";
  color:#6bb6e7;
}
.icon-zyt-wait-consume:before{
  content: "\e993";
  color:#6bb6e7;
}
